@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto';
}
/************************************/
/* Hero Section */

.hero {
  background-color: #1f2937;
  padding: 0px 250px 60px 250px;
  color: #f9faf8;
}
  /* Header */
  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 600;
  }

  a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
  }

  ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
    padding: 0px;
    margin: 0px;
  }

  /* Hero Content */
  #hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0px 100px 0px;
  }

  #hero-title {
    width: 500px;
    font-size: 24px;
    font-weight: 200;
  }

  #hero-title *{
    margin: 0px;
  }

  #hero-title p {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 5px;
  }

  #hero-title button {
    background-color: #3882f6;
    border-color: #3882f6;
    color: #e5e7eb;
    font-weight: 700;
    font-size: 16px;
    border-radius: 8px;
    padding: 8px 24px;
    margin-top: 16px;
  }

  #hero-image {
    width: 600px;
    height: 218px;
    background-color: gray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/**********************************/
/* Content Section */
.content {
  background-color: #f9faf8;
}

.quote {
  background-color: #e5e7eb;
}

.cta {
  background-color: #f9faf8;
}

.footer{
  background-color: #1f2937;
}