@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto';
}

/************************************/
/* Hero Section */

.hero {
  background-color: #1f2937;
  padding: 0px 250px 60px 250px;
  color: #f9faf8;
}

/* Header */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f9faf8;
  font-size: 24px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 300;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 16px;
  padding: 0px;
  margin: 0px;
}

/* Hero Content */
#hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0px 100px 0px;
}

#hero-title {
  width: 500px;
  font-size: 24px;
  font-weight: 200;
}

#hero-title * {
  margin: 0px;
}

#hero-title p {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 5px;
}

#hero-title button {
  background-color: #3882f6;
  border-color: #3882f6;
  color: #e5e7eb;
  font-weight: 700;
  font-size: 16px;
  border-radius: 8px;
  padding: 8px 24px;
  margin-top: 16px;
}

#hero-image {
  width: 600px;
  height: 218px;
  background-color: #808080;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**********************************/
/* Content Section */
.content {
  padding: 30px 0px 50px 0px;
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content-container {
  width: 1000px;
  margin: 40px;
  display: flex;
  gap: 80px;
}

.content-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-card-image {
  width: 150px;
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-card p {
  color: #808080;
  font-size: 18px;
  font-weight: 400;
}


/**********************************/
/* Quote Section */
.quote {
  background-color: #e5e7eb;
  text-align: left;
  padding: 150px 0px 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote-container {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.quote p {
  margin: 0px;
}

#quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
}

#quote-author {
  align-self: flex-end;
  font-size: 20px;
  font-weight: 600;
}

/*********************************/
/* CTA Section */
.cta {
  background-color: #f9faf8;
  padding: 100px 250px 60px 250px;
}

#cta-container {
  background-color: #3882f6;
  border-radius: 8px;
  padding: 30px 150px 30px 150px;
}

#cta-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cta-text {
  color: #f9faf8;
  font-size: 16px;
  font-weight: 300;
}

#cta-title {
  font-size: 20px;
  font-weight: 600;
}

.cta button {
  background-color: #3882f6;
  border: 2px solid #f9faf8;
  border-radius: 8px;
  color: #f9faf8;
  font-weight: 550;
  font-size: 16px;
  padding: 10px 50px;
}


/*********************************/
/* Footer Section */
.footer {
  background-color: #1f2937;
}